body {
  padding: 0;
  font-family: "Quattrocento", serif;
}

.main {
  font-size: 20px;
  background-color: #000814;
  color: #dbddea;
  margin: 0;
  font-family: "Quattrocento", serif;
  padding-bottom: 4vh;
}

.page-heading {
  text-align: center;
  font-size: 50px;
  color: #f4f002;
  padding-top: 30px;
  text-transform: uppercase;
  font-family: "Domine", serif;
}

.welcome-message {
  background-color: #1f2737;
  padding: 5px;
  text-align: center;
  margin: 20px auto;
  max-width: 100%;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Quattrocento", serif;
}

.sub-heading {
  color: #f1f2ff;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Domine", serif;
}

.button-container {
  display: flex;
  gap: 75px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "Quattrocento", serif;
}

button[type="submit"] {
  width: 97%;
  text-transform: uppercase;
  font-size: 3vh;
  padding: 1vw;
  font-weight: 500;
  background-color: #f4f002;
  color: #000814;
  border-radius: 5px;
  margin-top: 2vh;
  font-family: "Quattrocento", serif;
}

button[type="submit"]:hover {
  border: 2px solid #f4f002;
  background-color: #000814;
  color: #f4f002;
}

button.home {
  width: 20%;
}

button.logout {
  width: 20%;
}

form {
  padding: 3vh;
  background-color: #1f2737;
  justify-content: center;
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 2vh;
  text-transform: uppercase;
  margin-top: 1vh;
}

input[type="text"] {
  width: 97%;
  height: 6vh;
  background-color: #161d29;
  border: none;
  color: #dbddea;
  padding-left: 2vw;
  font-size: 2vh;
  border-radius: 7px;
  margin-bottom: 2vh;
}
input[type="number"] {
  width: 97%;
  height: 6vh;
  background-color: #161d29;
  border: none;
  color: #dbddea;
  padding-left: 2vw;
  font-size: 2vh;
  border-radius: 7px;
  margin-bottom: 2vh;
}
.required {
  color: red;
}

.form {
  box-sizing: border-box;
  width: 80%;
  justify-self: center;
}

.role-form {
  position: relative;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

table {
  width: 100%;
  margin: auto;
  font-size: 2vh;
  background-color: #1f2737;
  border-collapse: collapse;
}

th {
  padding: 2vh;
  text-transform: uppercase;
  color: #161d29;
  background-color: #dddbea;
  margin: 0;
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid rgba(221, 219, 234, 0.3);
  border-right: 1px solid rgba(221, 219, 234, 0.3);
}

td {
  padding: 2vh;
  text-align: center;
  border-bottom: 1px solid rgba(221, 219, 234, 0.3);
  border-right: 1px solid rgba(221, 219, 234, 0.3);
}

tr td:last-child, tr th:last-child {
  border-right: none;
}

tr:last-child td {
  border-bottom: none;
}

.table-cont {
  width: 80%;
  overflow-x: auto;
  margin: 0 auto;
}

.table-cont::-webkit-scrollbar {
  width: 10px; 
  height: 10px;
}

.table-cont::-webkit-scrollbar-track {
  background: rgba(31,39,55,0.7); 
}

.table-cont::-webkit-scrollbar-thumb {
  background-color: rgba(221, 219, 234, 0.2);
  border-radius: 10px; 
  border: 2px solid transparent; 
}

.table-cont::-webkit-scrollbar-thumb:hover {
  background-color: #1a2330; 
}

.role-form input[type="text"] {
  display: block;
  width: 80%;
}

.btn-outline-light {
  width: 15%;
  height: 6vh;
}

.btn-outline-light:hover {
  color: #f4f002;
  border: 2px solid #f4f002;
  background-color: #000814;
}

.status-text {
  font-weight: normal;
  opacity: 0.9;
  letter-spacing: 0.05vw;
}

.comment-link {
  color: #f4f002;
  cursor: pointer;
}

input[type="checkbox"] {
  opacity: 0.15;
}

input[type="checkbox"]:checked {
  opacity: 1;
  accent-color: #f4f002;
}

.man-form {
  width: 80%;
}

.man-form input {
  width: 95%;
}

.man-form .table-cont {
  width: 90%;
}

.man-form table {
  background-color: #161d29;
  width: 100%;
}

td input[type="number"] {
  background-color: #161d29;
  width: 50%;
  cursor: pointer;
}

td input[type="number"]:disabled {
  cursor: not-allowed;
}

.man-form td input[type="number"]{
  background-color: #1f2737;
}

.table-button {
  cursor: pointer;
  background-color: #f4f002;
  color: #000814;
  padding: 1vh;
  border-radius: 7px;
  font-family: "Quattrocento", serif;
  font-size: 2vh;
  font-weight: 600;
  margin: 1vh;
}

td input[type="text"] {
  width: 90%;
  padding: 1.5vh;
  font-size: 1.8vh;
  height: 3vh;
}

td select {
  cursor: pointer;
  height: 5vh;
  font-size: 1.8vh;
  background-color: #161d29;
  border: none;
  color: #dbddea;
  padding: 1vh;
  margin-bottom: 1vh;
}

td p {
  font-size: 2vh;
  line-height: 3vh;
}

